ion-content{
    --background: #EFF6FD url('../../assets/images/base.jpg') no-repeat 100% 100%;
    --color: #fff;
}

ion-img::part(image) {
    height: 250px;
}

.image1 { margin-top: 80px; }